<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Main page</title>
        <style>
            input:invalid {
                background-color: pink;
            }
        </style>
    </head>
    <body>
        <h1 style="text-align: center;">Welcome to the blog</h1>
        <hr>
        <div style="text-align: center;">
            <form action="./login" method="post">
                <label>
                    Enter your login:
                    <input maxlength="64" minlength="4" name="login" pattern="[A-Za-z0-9.~_-]*[A-Za-z0-9][A-Za-z0-9.~_-]*"
                           required type="text">
                </label>
                <input type="submit" value="Login">
            </form>
        </div>
    </body>
</html>